.header{
    background-color: pink;
}
.continer{
    display: flex;
    align-items: center;
    padding: 100px;
    padding-bottom: 0px;
}
.continer .pic{
    width: 500px;
   
}.unique{
    background-color: palevioletred;
    color: white;
    border: 0px;font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-top: 25px;

}
.title{
display: flex;
width: 708px;
margin-bottom: 20px;
}